<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="/javascripts/leaflet.js" defer></script>
  </head>
  <body class="claro">
    <h1><%= title %></h1>
    <section>
      <form class="form" action="/" method="POST">
        <div class="container">
          <label for="">Descripcion</label>
          <input type="text" name="description" id="description" placeholder="ej: AEROTERRA S.A.">
        </div>  
        <div class="container">
          <label for="">Direccion</label>
          <input type="text" name="address" id="address" placeholder="ej: Av. Eduardo Madero 1020, C1001 CABA">
        </div>
        <div class="container">
          <label for="">Telefóno</label>
          <input type="tel" name="telephone" id="telephone" placeholder="ej: 54 9 11 5272 0900">
        </div>
        <div class="container">
          <label for="">Categoría</label>
          <select name="category" id="category">
            <option value="">Seleccionar</option>
            <option value="Comercial">Comercial</option>
            <option value="Residensial">Residencial</option>
            <option value="Mixta">Mixta</option>
          </select>
        </div>
        <div class="container">
          <label for="">Coord.</label>
          <div>
            <input type="text" name="coordinates" id="coordinates" placeholder="ej: 34.595986, 58.3724715">
            <p class="text-red">Coordenadas Fuera de Rango</p>
          </div>          
        </div>
        <div class="item_button">
          <button type="submit">Agregar</button>
        </div>      
      </form>
    </section>  
    <div id="mapid"></div>
  </body>
</html>
