<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <h1><%= title %></h1>
    <section>
      <form class="form" action="">
        <div class="container">
          <label for="">Nombre</label>
          <input type="Nombre" placeholder="ej:Av. E. Madero 1020">
        </div>  
        <div class="container">
          <label for="">Direccion</label>
          <input type="Direccion" placeholder="ej:Av. E. Madero 1020">
        </div>
        <div class="container">
          <label for="">Telefóno</label>
          <input type="Telefono" placeholder="ej: 54 9 11 5272 0900">
        </div>
        <div class="container">
          <label for="">Categoría</label>
          <div class="div_inp">
            <input class="input_a" type="text" placeholder="Seleccionar">
            <i class="fas fa-caret-down"></i>
          </div>
        </div>
        <div class="container">
          <label for="">Coord.</label>
          <div class="div_inp">
            <input class="input_b" type="Coord." placeholder="ej:Av. E. Madero 1020">
            <i class="fas fa-globe-americas"></i>
          </div>                 
        </div>
        <div class="item_button">
          <button>Agregar</button>
        </div>      
      </form>
    </section>    
  </body>
</html>
